@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@500;700&display=swap');

$gold:#eab454;
html {
    scroll-behavior: smooth;
  }

* {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.body {
    font-family: 'Playfair Display', serif;
    position: relative;
}
// .wrapper{
//     overflow: hidden;
// }
.img {
    max-width: 100%;
    height: auto;
    display: block;
    min-height: 100%;
    object-fit: cover;
}

.container {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.menu-burger,
.mobile-menu {
    display: none;
}

.btn {
    border: white solid 1px;
    padding: 10px;
    width: 140px;
    transition: all .4s ease;
    display: block;
    text-align: center;
    font-weight: 700;

    &:hover {
        border: $gold solid 1px;
        color: $gold;
    }
}
.title-3 {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 52px;
    line-height: 60px;
    margin: 60px auto 40px;
    text-align: center;
}
.title-4{
    font-size: 24px;
}

.title-2 {
    color: black;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    background-color: white;
    width: 280px;
    font-weight: 500;
    margin: 30px auto 60px;
    padding: 12px 20px;
}
/*-------------POPUP--------------*/

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    display: none;
    z-index: 1000;
}

.popup-inner {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/pop-bg.png');
    max-width: 700px;
    z-index: 1000;
    padding-bottom: 60px;
    // min-width: 320px;
}

.close-popup {
    background-color: tomato;
    font-size: 30px;
    position: absolute;
    top: 0px;
    right: 0px;

    img {
        height: 33px;
        width: 33px;
    }
}

.no-scroll {
    overflow-y: hidden;
}

/*-------------POPUP--------------*/
/*-------------FORM--------------*/
.form {
    width: 500px;
    display: flex;
    flex-direction: column;

    .input-form,
    .textarea {
        background-color: rgba(0, 0, 0, 1);
        color: white;
        width: 100%;
        padding: 15px 20px 15px 20px;
        margin-bottom: 30px;
        resize: none;
        position: relative;
        border-bottom: 2px white solid;
        font-family: 'Montserrat', sans-serif;

        &:focus {
            background-color: rgba(0, 0, 0, 1);
            color: white;
        }

        &::placeholder {
            color: white;
        }
    }

    .input-form {
        margin-bottom: 30px;
    }

    .button {
        width: 160px;
        background: black;
    }
}

/*-------------FORM--------------*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 20px 0 0;
    // height: 100vh;
}

.nav {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
    }

    .nav__row {
        display: flex;

        li:not(:first-child) {
            margin-left: 25px;
        }

        .nav-row__link {
            transition: all .4s ease;
            position: relative;

            &:hover {
                color: $gold;
            }

            &::before,
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: $gold;
                position: absolute;
                opacity: 0;
                transition: all .4s ease;
            }

            &::before {
                top: -10px;
                left: 0;
            }

            &::after {
                bottom: -10px;
                left: 0;
            }

            &:hover::after,
            &:hover::before {
                opacity: 1;
            }
        }

        .nav-collum__link:hover {
            color: $gold;
        }
    }

    .nav-collum__item:not(:last-child) {
        margin-bottom: 20px;
    }

    .nav-collum__link {
        transition: all .4s ease;
    }

    .nav-collum__link:hover {
        color: $gold;
    }
}
/*СТИЛИ-ТОЧЕК*/

.header-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 20;
    display: flex;
}
.header-dots button{
    border: none;
    background-color: white;
    font-size: 0;
    padding: 0%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 7.5px;
    border: solid 1px $gold;
}
.header-dots .slick-active button{
    background-color: $gold;
}
/*СТИЛИ-ТОЧЕК*/

.section-1 {
    position: relative;
    background-color: black;

    .slider__slick {
        height: 100vh;
        opacity: 0.4;
    }

    .sec-1 {
        max-width: 600px;
        min-width: 300px;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-20%, -50%);
        .title-1 {
            font-family: Playfair Display;
            font-weight: bold;
            font-size: 52px;
            line-height: 60px;
        }

    }
}

.sec-1__row {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after{
        content: '';
        width: 160px;
        height: 2px;
        position: absolute;
        bottom: 22px;
        left: 208px;
        display: block;
        background-color: white;
    }
    .works {
        width: 160px;

    }

    .social-row {
        display: flex;

        .social-row__item:not(:first-child) {
            margin-left: 20px;
        }
    }

    .fab {
        color: white;
        font-size: 26px;
        transition: all .4s ease;

        &:hover {
            color: $gold;
        }
    }
}
//*********PORTFOLIO************//
.wrapper__portfolio{
    background-color: black;
    position: relative;
    padding: 60px 0 0;
}
.sticky{}

.header__portfolio{
    width: 100%;
    padding: 20px 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: black;
}

header.sticky{
    background-color: rgba(0, 0, 0, .5);
}
.section-1__portfolio{
    .title-2{

    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery__link{
        margin: 20px;
    }

    .gallery__img{
        width: 500px;
        transition: all .5s ease;

        &:hover{
            transform: scale(1.1);
        }
    }
}
.footer{
    background-color: black;
    padding: 50px 0;
    .social-row{
        display: flex;
        justify-content: center;
    }
    .works {
        width: 160px;

    }

    .social-row {
        display: flex;

        .social-row__item:not(:first-child) {
            margin-left: 20px;
        }
    }

    .fab {
        color: white;
        font-size: 26px;
        transition: all .4s ease;

        &:hover {
            color: $gold;
        }
    }
}
//*********PORTFOLIO************//

//*********PRICE************//
.cards-row{
    text-align: center;
    display: flex;
    padding: 30px 0;
    flex-wrap: wrap;
    justify-content: center;
    .cards-row__cards{
        width: 320px;
        border: 1px solid white;
        padding: 20px 10px;
        margin: 20px;
        
    }
    .round{
        color: black;
        font-weight: bold;
        border-radius: 50%;
        background-color: $gold;
        margin: 30px auto;
        width: 120px;
        padding: 50px 20px;
        font-size: 20px;
    }

    .text-block__words{
        margin-bottom: 20px;
        position: relative;

        &::after{
            content: '';
            display: block;
            height: 1px;
            width: 200px;
            background-color: $gold;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: -5px;
        }
    }
}
//*********PRICE************//

//*********ABOUT************//
.about-collum{
    display: flex;
    flex-wrap: wrap;
}
.about-collum__block{
    width: 48%;
    padding: 0 10px;
    margin: 10px;
}
.about-img{
    width: 48%;
    margin: 10px;
    padding-bottom: 70px;
}
.title-4{
    margin-bottom: 50px;

    & span{
        font-weight: 500;
        color: $gold;
        font-size: 28px;
    }
}

.text-1{
    margin-bottom: 20px;
}
.text-2{
    text-align: right;
}
//*********ABOUT************//

//*********Photostudioa************//
.sec-1-photo{
    padding: 0 0 50px;
}
.photostudia-text-block{
    margin: 70px 0;
}
.photostudia-collum{
    max-width: 800px;
    border: 1px solid white;
    position: relative;
    margin: 20px auto;

    .photostudia-collum__link-row{
        display: flex;
        justify-content: start;
        cursor: pointer;

        .title-2{
            margin: 20px 10px;
        }
    }
    .link-open{
        position: absolute;
        top: 44px;
        right: 20px;
        background-color: white;
    }

    .link-open__span{
        width: 30px;
        height: 3px;
        display: block;
        position: relative;

        &::after{
            transform: rotate(90deg);
            position: absolute;
            bottom: 0px;
            left: 0;
            content: '';
            width: 30px;
            height: 3px;
            background-color: white;
            transition: all .5s ease;
        }

    }
        .link-open__span.active::after{
            transform: rotate(0deg);
        }
}
.photostudia-collum__card{
    padding: 10px;
    display: none;

    .link{
        color: $gold;
        margin-bottom: 20px;
        display: block;
    }
}
//*********Photostudioa************//










































/*-------------MOBILE--------------*/
/*320px*/
@media (max-width: 474px) {
    body{
        overflow: hidden;
    }
    .container {
        width: 300px;
        padding: 0 5px;
    }
    .header{
        padding: 0;
    }
    .nav{
        .nav__row, .open-popup{
            display: none;
        }
        .nav__collum{
            display: none;
        }
    }
    .section-1{
        .sec-1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            left: 50%;
            top: 30%;
            transform: translate(-50%);
            .title-1{
                font-size: 32px;
                line-height: 38px;

            }
            .sec-1__row{
                display: block;
                &::after{
                    opacity: 0;
                } 
            }
            .social-row{
                margin-bottom: 60px;
            }
        }
    }


        /*-----------BURGER------------*/
        .menu-burger,
        .mobile-menu {
            display: block;
        }
    
        .menu-burger {
            width: 40px;
            height: 40px;
            top: 15px;
            right: 15px;
            cursor: pointer;
            position: absolute;
        }
    
        .menu-burger span {
            display: block;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 3px;
            top: 18px;
            transition: all 0.3s ease 0s;
            position: absolute;
            z-index: 200;
        }
    
        .menu-burger::before,
        .menu-burger::after {
            content: '';
            background-color: #fff;
            width: 100%;
            position: absolute;
            height: 3px;
            left: 0;
            transition: all 0.3s ease 0s;
            z-index: 200;
        }
    
        .menu-burger::before {
            top: 0;
        }
    
        .menu-burger::after {
            bottom: 0;
        }
    
        .menu-burger.active:before {
            transform: rotate(45deg);
            top: 16px;
        }
    
        .menu-burger.active::after {
            transform: rotate(-45deg);
            top: 16px;
        }
    
        .menu-burger.active span {
            transform: scale(0);
        }
    
        .mobile-menu {
            padding: 60px 0;
            position: absolute;
            top: 0px;
            left: -100%;
            height: 100vh;
            width: 100%;
            z-index: 100;
            opacity: 0;
            transition: .4s all ease;
            background-color: black;
        }
    
        .mobile-menu.active {
            left: 0;
            opacity: 1;
        }
    
        .mobile-menu li {
            margin-left: 0;
            text-align: center;
            padding: 30px 0;
        }
    
        .mobile-menu-a {
            font-weight: 600;
            font-size: 22px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            display: block;
            letter-spacing: 1px;
            position: relative;
            &::after{
                content: '';
                display: block;
                width: 200px;
                height: 2px;
                background-color: $gold;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                bottom: -30px;


            }
            &:focus{
                color: $gold;
            }
        }

        .about-img,.about-collum__block{
            width: 100%;
        }

        .popup-inner,.form{
            width: 100%;

            .title-2{
                margin: 50px auto 60px;
            }
            .button{
                width: 100%;
            }

            .close-popup{
                display: none;
            }
        }

        .title-3{
            font-size: 42px;
            line-height: 40px;
        }

        .link-open{
            display: none;
        }
}

/*320px*/

/*476px*/
@media (min-width: 475px) and (max-width: 767px) {
    body{
        overflow: hidden;
    }
    .container {
        width: 476px;
        padding: 0 5px;
    }
    .nav{
        .nav__row, .open-popup{
            display: none;
        }
        .nav__collum{
            margin: 0 auto;
        }
    }
    .section-1{
        .sec-1{
            // left: 50%;
            // transform: translate(-50%);
            .title-1{
                font-size: 42px;
                line-height: 48px;
            }
            .sec-1__row{
                &::after{
                    opacity: 0;
                } 
            }
        }
    }


        /*-----------BURGER------------*/
        .menu-burger,
        .mobile-menu {
            display: block;
        }
    
        .menu-burger {
            width: 40px;
            height: 40px;
            top: 15px;
            right: 15px;
            cursor: pointer;
            position: absolute;
        }
    
        .menu-burger span {
            display: block;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 3px;
            top: 18px;
            transition: all 0.3s ease 0s;
            position: absolute;
            z-index: 200;
        }
    
        .menu-burger::before,
        .menu-burger::after {
            content: '';
            background-color: #fff;
            width: 100%;
            position: absolute;
            height: 3px;
            left: 0;
            transition: all 0.3s ease 0s;
            z-index: 200;
        }
    
        .menu-burger::before {
            top: 0;
        }
    
        .menu-burger::after {
            bottom: 0;
        }
    
        .menu-burger.active:before {
            transform: rotate(45deg);
            top: 16px;
        }
    
        .menu-burger.active::after {
            transform: rotate(-45deg);
            top: 16px;
        }
    
        .menu-burger.active span {
            transform: scale(0);
        }
    
        .mobile-menu {
            padding: 60px 0;
            position: absolute;
            top: 0px;
            left: -100%;
            height: 100vh;
            width: 100%;
            z-index: 100;
            opacity: 0;
            transition: .4s all ease;
            background-color: black;
        }
    
        .mobile-menu.active {
            left: 0;
            opacity: 1;
        }
    
        .mobile-menu li {
            margin-left: 0;
            text-align: center;
            padding: 30px 0;
        }
    
        .mobile-menu-a {
            font-weight: 600;
            font-size: 22px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            display: block;
            letter-spacing: 1px;
            position: relative;
            &::after{
                content: '';
                display: block;
                width: 200px;
                height: 2px;
                background-color: $gold;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                bottom: -30px;


            }
            &:focus{
                color: $gold;
            }
        }

        .about-img,.about-collum__block{
            width: 100%;
        }

        .popup-inner,.form{
            width: 100%;

            .title-2{
                margin: 50px auto 60px;
            }
            .button{
                width: 100%;
            }

            .close-popup{
                display: none;
            }
        }

        .photostudia-collum{
            max-width: 420px;
        }
}

/*476px*/

/*750px*/
@media (min-width: 768px) and (max-width: 991px) {
    body{
        overflow: hidden;
    }
    .container {
        width: 750px;
        padding: 0 5px;
    }
    .nav{
        .nav__row, .open-popup{
            display: none;
        }
        .nav__collum{
            margin: 0 auto;
        }
    }
    .section-1{
        .sec-1{
            // left: 50%;
            // transform: translate(-50%);
            .title-1{
                font-size: 42px;
                line-height: 48px;
            }
        }
    }


        /*-----------BURGER------------*/
        .menu-burger,
        .mobile-menu {
            display: block;
        }
    
        .menu-burger {
            width: 40px;
            height: 40px;
            top: 15px;
            right: 15px;
            cursor: pointer;
            position: absolute;
        }
    
        .menu-burger span {
            display: block;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 3px;
            top: 18px;
            transition: all 0.3s ease 0s;
            position: absolute;
            z-index: 200;
        }
    
        .menu-burger::before,
        .menu-burger::after {
            content: '';
            background-color: #fff;
            width: 100%;
            position: absolute;
            height: 3px;
            left: 0;
            transition: all 0.3s ease 0s;
            z-index: 200;
        }
    
        .menu-burger::before {
            top: 0;
        }
    
        .menu-burger::after {
            bottom: 0;
        }
    
        .menu-burger.active:before {
            transform: rotate(45deg);
            top: 16px;
        }
    
        .menu-burger.active::after {
            transform: rotate(-45deg);
            top: 16px;
        }
    
        .menu-burger.active span {
            transform: scale(0);
        }
    
        .mobile-menu {
            padding: 60px 0;
            position: absolute;
            top: 0px;
            left: -100%;
            height: 100vh;
            width: 100%;
            z-index: 100;
            opacity: 0;
            transition: .4s all ease;
            background-color: black;
        }
    
        .mobile-menu.active {
            left: 0;
            opacity: 1;
        }
    
        .mobile-menu li {
            margin-left: 0;
            text-align: center;
            padding: 30px 0;
        }
    
        .mobile-menu-a {
            font-weight: 600;
            font-size: 22px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            display: block;
            letter-spacing: 1px;
            position: relative;
            &::after{
                content: '';
                display: block;
                width: 200px;
                height: 2px;
                background-color: $gold;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                bottom: -30px;


            }
            &:focus{
                color: $gold;
            }
        }

        .about-img,.about-collum__block{
            width: 100%;
        }


}

/*750px*/

/*980px*/
@media (min-width: 992px) and (max-width: 1220px) {
    body{
        overflow: hidden;
    }
    .container {
        width: 980px;
        padding: 0 10px;
    }
    .about-img,.about-collum__block{
        width: 100%;
    }
}

/*980px*/
/*-------------MOBILE--------------*/